PUBLIC_CLERK_PUBLISHABLE_KEY= # can be found in the Clerk dashboard on the API keys page inside configuration tab 
CLERK_SECRET_KEY= # can be found in the Clerk dashboard on the API keys page inside configuration tab 
WEBSITE_URL=http://localhost:4321 # The website URL is the URL of your application. It is used to configure the redirect URLs for authentication.