---
import { SignInButton } from "@clerk/astro/components";

---

<section id="cta" class="container mx-auto py-12 bg-blue-600 text-white">
  <div class="px-6 text-center">
    <h2 class="text-3xl font-bold mb-4">¿Listo para Empezar tu Viaje de Lectura?</h2>
    <p class="text-lg mb-8">Regístrate hoy y toma el control de tu vida lectora con Book Tracker.</p>
    <SignInButton class="bg-white text-blue-600 font-bold py-3 px-6 rounded-lg shadow-lg hover:bg-gray-100 cursor-pointer" mode="modal">Empezar</SignInButton>
  </div>
</section>
