---
---

<section id="features" class="container mx-auto py-12 bg-gray-100 dark:bg-gray-800 mb-12">
  <div class="px-6">
    <h2 class="text-3xl font-bold text-center text-gray-800 dark:text-white mb-8">Características</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="bg-white dark:bg-gray-700 p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">Sigue tu Lectura</h3>
        <p class="text-gray-600 dark:text-gray-300">Añade libros fácilmente a tu lista de lectura, márcalos como leídos y sigue tu progreso.</p>
      </div>
      <div class="bg-white dark:bg-gray-700 p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">Descubre Nuevos Libros</h3>
        <p class="text-gray-600 dark:text-gray-300">Explora una vasta biblioteca de libros, obtén recomendaciones y encuentra tu próxima lectura favorita.</p>
      </div>
      <div class="bg-white dark:bg-gray-700 p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">Organiza tu Colección</h3>
        <p class="text-gray-600 dark:text-gray-300">Crea listas personalizadas, categoriza tus libros por género, autor o estado, y gestiona tu estantería digital.</p>
      </div>
    </div>
  </div>
</section>
