---
import CardBook from "@/components/CardBook.astro";
import type { Book } from "@/types/OpenLibraryTypes";

interface Props {
  books: Book[];
  className?: string;
}

const { books, className} = Astro.props;
---

<div class=`grid gap-4 ${className}`>
  <slot name="header" />
  {
    books.map(
      (book) => (
        <CardBook
          book={book}
        />
      )
    )
  }
</div>
