<section
  class="container mx-auto px-6 py-8 bg-slate-700 rounded-lg shadow-lg mb-6"
>
  <div class="max-w-3xl mx-auto text-center text-white">
    <h2 class="text-2xl font-bold mb-3">Tu biblioteca personal</h2>
    <p class="text-pretty mb-3">
      Book Tracker te permite organizar y gestionar tu colección de libros.
      Filtra por género o número de páginas, añade libros a tu lista de lectura
      personal y actualiza tu progreso indicando en qué página te encuentras
      actualmente. Mantén un registro detallado de todas tus lecturas y nunca
      pierdas el hilo de tus historias favoritas.
    </p>
    
    <ol class="flex gap-8">
      <li class="text-pretty bg-slate-800 p-2 rounded-2xl">Explora libros</li>
      <li class="text-pretty bg-slate-800 p-2 rounded-2xl">Filtra por género o páginas</li>
      <li class="text-pretty bg-slate-800 p-2 rounded-2xl">Añade a tu lista de lectura</li>
      <li class="text-pretty bg-slate-800 p-2 rounded-2xl">Actualiza tu progreso de lectura</li>
    </ol>
  </div>
</section>
