---
import SignInSignOutNav from "@/components/ui/SignInSignOutNav.astro";
---

<header class="mt-6 w-full flex justify-around items-center">
  <h1 class="text-center text-4xl font-extrabold">Book Tracker</h1>
  <nav>
    <ul class="flex gap-4">
      <li><a href="/" class="text-blue-500 hover:underline">Inicio</a></li>
      <li><a href="/books" class="text-blue-500 hover:underline">Explorar</a></li>
      <li><a href="/lists" class="text-blue-500 hover:underline">Listas</a></li>
    </ul>
  </nav>
  <SignInSignOutNav />
</header>
