---
import SignInSignOutNav from "@/components/ui/SignInSignOutNav.astro";
---

<header class="mt-6 w-full flex justify-around items-center">
  <h1 class="text-center text-4xl font-extrabold">Book Tracker</h1>
  <SignInSignOutNav />
</header>
